/* App-wide styling */
body {
    display: flex;
    background-color: #363738;
    color: #ffffff;
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    justify-content: center;
    height: 100vh; 
}

body-light {
    display: flex;
    background-color: #dfdfdf;
    color: #0c0b0b;
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    justify-content: center;
    height: 100vh; 
}

#buttons_div{
    text-align: center;
}

#button2 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --bg: #181717;
  --hover-bg: #414040;
  --hover-text: #ffffff;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 6px;
  padding: 0.8em 2em;
  margin-right: 7px;
  width: 170px;
  height: 55px;
  background: var(--bg);
  transition: 0.2s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;

}

#button2:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

#button2:active {
  transform: translate(0);
  box-shadow: none;
}

#timer_button:hover {
  box-shadow: rgba(127, 128, 127, 0.2) 0 2px 8px;
  opacity: .85;
}

#timer_button:active {
  outline: 0;
}

#timer_button:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}



#hero {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 1200px;
}

